body {
    justify-content: center;
    align-items: center;
    margin: 10;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    height: 100vh;
}

.flex-display {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.form-container {
    position: absolute;
    display: grid;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: -moz-available;
    margin: 1% 3%;
}

.form-container h1 {
    margin: 20px 0;
    text-align: center;
}

.form-container h2 {
    margin: 0 2%;
    text-align: center;
}

.form-container form {
    margin-bottom: 20px;
    text-align: center;
}

.form-container label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-container input[type="text"],
.form-container input[type="date"],
.form-container input[type="number"],
.form-container textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-container textarea {
    resize: vertical;
    height: 100px;
}

.form-container input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.form-container input[type="submit"]:hover {
    background-color: #0056b3;
}

header {
    text-align: center;
}

.purchase-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 0 20px;
}

.card {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.card h2 {
    margin-bottom: 10px;
    text-align: center;
    color: #007bff;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.fixed {
    position: fixed;
    right: 0%;
    display: flex;
    flex-direction: column;
}

.fixed button {
    background-color: brown;
}

.fixed button:hover {
    background-color: #8b0000;
}

button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

#menu-list, #order-list, #custom-list {
    max-height: 50vh;
    overflow-y: auto;
    padding: 0% 5%;
}

.menu-item, .order-item {
    display: grid;
    grid-template-columns: 1fr auto auto;
    gap: 10px;
}

.edit-item {
    display: flex;
    justify-content: center;
    gap: 10px;
}